[submodule "lib/commonlibsf"]
	path = lib/commonlibsf
	url = https://github.com/QTR-Modding/commonlibsf.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
